@font-face {
    font-family: "moon";
    src: url(fonts/moon.otf) format("opentype");
}

html {
    height: 100%;
}

body {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.header {
    font-family: "moon";
    font-size: 16px;
    color: white;
}

.logo {
    display: block;
    width: 300px;
    margin-top: 10px;
}

.link.box {
    min-width: 150px;
    max-width: 150px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
}

.link.box:hover {
    border-color: #27AAE1;
}

.link.container {
    margin: 20px 0px 20px 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.link .title {
    font-size: 16px;
    font-family: "moon";
}

.link .subtitle {
    font-size: 12px;
    font-family: "moon";
}